body {
  /* text-align: center; */
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* class for body elements */
.container {
  width: 90%;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 20px;
}

/* styles for the nav bar */
nav {
  background-color: #282c34;
  color: white;
  position: fixed;
}
