body {
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
}

/* class for body elements */
.container {
  width: 90%;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 20px;
  min-height: 100vh;
  position: relative;

}

/* styles for the nav bar */
nav {
  background-color: #005ea2;
  color: white;
  position: fixed;
}

nav a {
  color: white;
}

.footer {
  background-color: #005ea2;
  color: white;
  padding: 40px 20px;
  text-align: center;
  position: relative;
  width: 100%;
}

/* making the footer dynamic for smaller screen sizes */
@media (min-height: 700px) {
  .footer {
    margin-top: -444px;
  }
}

/* top half of footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* individual elements within the top half */
.footer-section {
  flex: 1;
  margin: 20px;
  min-width: 200px;
}

.footer-section h4 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #ecf0f1;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin: 10px 0;
}

/* add hover effect for a tags in footer */
.footer-section ul li a {
  color: #ecf0f1;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* adding colour change when hover over any list item */
.footer-section ul li a:hover {
  color: #3498db;
}

.social-icons {
  display: flex;
  gap: 10px;
  padding: 0;
  justify-content: center;
}

.social-icons li {
  list-style: none;
}

.social-icons li a {
  color: #ecf0f1;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icons li a:hover {
  color: #3498db;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #7f8c8d;
  padding-top: 20px;
}

#staffSelect {
  width: 400px;
  height: 40px;
}

.appointment-body {
  margin-bottom: 20px;
}

/* adds a gap between each appointment */
.calendar {
  gap: 20px;
}

.day-column {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.day-column h4 {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px
}

.slot {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 0.9em;
}

/* green formatting */
.slot.available {
  background-color: #e0f7e9;
  border-color: #3cc28a;
}

/* red formatting */
.slot.booked {
  background-color: #ffe0e0;
  border-color: #ff6b6b;
}

.booking_button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8em;
}

.booking_button:hover {
  background-color: #0056b3;
}

.homepage-container {
  align-items: center;
}

.homepage-image {
  max-height: 400px;
  max-width: 530px;
}

.homepage-text {
  text-align: center;
  /* justify-content: center; */
}

.homepage-text h3 {
  color: #005ea2;
}

.homepage-button {
  height: 50%;
  margin-left: 20px;
  max-width: 200px;
  
}